
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div>
    <div >
      <h2>POLAND COVID-19</h2>
    </div>
    <div >

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            
            <th>CountryCode</th>
            
            <th>Country</th>
            <th></th>
            <th>Cases</th>
            <th></th>
            <th>Status</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let polands of (poland | async)?.reverse()">
            <td>{{polands.Date.substr(0,10 )}}</td>
          <td></td>
            <td>{{polands.CountryCode}}</td>
            <td></td>
            <td>{{polands.Country}}</td>
            <td></td>
            <td>{{polands.Cases}}</td>
            <td></td>
            <td>{{polands.Status}}</td>
            <!-- <td>
              <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  